<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/settings.css" />
    <title>Settings</title>
</head>

<body>
    <div>
        <div class="container" id="dashboard-container">
            <div class="row">
                <div class="col-3 col-xl-2">
                    <div class="sidebar p-4 text-white d-flex flex-column">
                        <p>LOGO</p>
                        <nav class="d-flex flex-column">
                            <a href="#">Profile</a>
                            <a href="#">House</a>
                            <a href="/settings">Settings</a>
                        </nav>
                        <button class="btn btn-light btn-lg sign-out">Sign out</button>
                    </div>
                </div>
                <div class="col mr-0">
                    <div class="row-mb-5">
                        <div class="welcome-box flex-column justify-content-center align-items-between p-1 py-4 px-6">
                            <div class="welcome-summary d-flex justify-content-between align-items-center pb-3 mx-5">
                                <div class="welcome-box-left d-flex align-items-center">
                                    <%if(profile.length){ %> 
                                    <img class="profile-pic"
                                        src=<%= profile[0].image %> />
                                        <% } %>
                                    <h1 class="my-1 text-white h5">Welcome back, <%= user.firstName %></h1>
                                </div>
                                <div>
                                    <h2 class="my-1 text-white h5">Your Portfolio:</h2>
                                </div>
                            </div>

                            <div class="d-flex justify-content-around text-white mt-3">
                                <div>
                                    <h6 class="mb-0">Bio:</h6>
                                    <%if(profile.length){ %> 
                                    <p class="mb-0"><%= profile[0].bio %></p>
                                    <% } %>
                                </div>
                                <div>
                                    <h6 class="mb-0">Goals:</h6>
                                    <%if(profile.length){ %> 
                                    <p class="mb-0"><%= profile[0].goals %></p>
                                    <% } %>
                                </div>
                                <div>
                                    <h6 class="mb-0">Interests:</h6>
                                    <%if(profile.length){ %> 
                                    <p class="mb-0"><%= profile[0].interests %></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- this needs to be a form -->
                    <form class="d-flex mt-3" form class="fs-4 bg-light house-box" method="POST" action="/createProfile" enctype = "multipart/form-data">
                        <div class="col">
                            <div>
                                <p>
                                    <label for="bio" class="form-label fw-bold">Bio</label>
                                    <textarea class="form-control" id="bio" name="bio" rows="3"
                                        placeholder="Tell us about yourself."></textarea>
                                </p>
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="interests">Interests</label>
                                    <textarea class="form-control" id="interests" name="interests" rows="1"
                                        placeholder="What are your interests?"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="goals" class="form-label fw-bold">Goals</label>
                                    <textarea class="form-control" id="goals" name="goals" rows="1"
                                        placeholder="What are your goals?"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label fw-bold">Update Phone Number</label>
                                    <textarea class="form-control" id="phoneNumber" name="phoneNumber" rows="1"
                                        placeholder="Enter new phone number"></textarea>
                                </div>
                                <button class="btn btn-primary btn-lg btn-save-settings" >Save settings</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bank-card text-center">
                                <div class="fs-4 bg-light house-box">
                                    <div class="welcome-box-left d-flex align-items-center">
                                        <img class="upload-pic" src="https://placekitten.com/300/300" />
                                    </div>
                                </div>
                                <h3>Profile Image</h3>
                                <p>Upload your profile image.</p>
                                <p>(.jpg and .png only)</p>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="imageUpload" name="file" />
                                    <label class="input-group-text" for="imageUpload">Upload</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>